
.main{
  display: flex;
  gap: 6%;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 23%;

    .banner{
      width: 80%;
      height: 320px;
      background-color: var(--verde-claro);
      border-radius: 10px;
      margin-top: 30px;

      .textos{
        margin: 25px;
        h2{
          font-family: var(--titulo);
          color: var(--branco);
          font-size: 40px;
          }
        span{
          color: var(--laranja);
        }
        p{
          font-family: var(--texto);
          color: var(--branco);
          font-size: 20px;
        }
        button{
          border: none;
          color: var(--branco);
          background-color: var(--verde-escuro);
          width: 200px;
          height: 30px;
          border-radius: 5px;
          font-size: 15px;
          font-weight: bold;
        }
      }
    
      
    }
  }
  
  
}