.comps-header{
    background-color: var(--branco);
    display: flex;
    height: 5.5rem;
    align-items: center;
    width: 100%;

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;


        ul {
            display: flex;
            list-style: none;
            gap: 100px;

            .links{
                color: var(--verde-claro);
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 30px;
                gap: 5px;
                font-family: var(--textos);

                .icone-header {
                    width: 32px;
                }

                &:hover{
                    color: var(--verde-escuro);
                }
            }

            
        }
    }

    .comps-logo{
        width: 12rem;
        margin-left: 30px;
        align-self: flex-start;
    }
}