.comps-aside{
    background-color: var(--verde-escuro);
    width: 300px;
    height: 100vh;
    gap: 40px;
    color: var(--branco);
    ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
    }
    .dados-usuario{
        display: flex;
        flex-direction: column;
        h2, p {
        margin: 0;
    }
    }
    .usuario{
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
    .nav{
        text-decoration: none;
        color: var(--branco);
    }
}
.linha{
        background-color: var(--laranja);
        width: auto;
        height: 1px;
    }