.comps-aside{
    background-color: var(--verde-escuro);
    width: 23%;
    height: 100vh;
    gap: 40px;
    color: var(--branco);
    position: fixed;

    ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 30px;
        list-style: none;
        font-family: var(--textos);
        font-size: 20px;
    }
    .dados-usuario{
        display: flex;
        flex-direction: column;
        h2, p {
        margin: 0;
    }
    }
    .usuario{
        display: flex;
        flex-direction: row;
        padding: 20px;
        gap: 25px;

        p{
            font-family: var(--textos);
            font-size: 12px;
            margin-top: 10px;
        }

        h2{
             font-family: var(--textos);
             font-size: 22px;
        
        }
    }
    .nav{
        text-decoration: none;
        color: var(--branco);
    }

    .img-usuario{
        width: 60px;
        height: 60px;
    }
}
.linha{
        background-color: var(--laranja);
        width: auto;
        height: 1px;
    }